/* NAVBAR BODY */
#navbarHome {
    background-color: transparent;
    width: 100% !important;
    margin: 0 auto;
    padding: 7vw;
    display: inline-block;
}

#navbarHomeLogo {
    float: left;
    width: 30vw;
}

#navbarHomeBody {
    width: 100% !important;
    margin: 0 auto;
    display: inline-block !important;
}

/* NAVBAR PAGES */
#navbarHomeTabs {
    background-color: transparent;
    color: #929292;
    font-family: 'Georgia-Italic','Georgia';
    height: 2vw;
    line-height: 2vw;
    font-style: italic;
    margin: 0;
    margin-top: 1vw;
    padding: 0;
    padding-left: 2vw;
    text-align: left;
    font-size: 12vw;
    float: right;
}

.navbarHomeItems a {
    font-size: 1.5vw;
}

.navbarHomeItems .rs-nav-item-content :hover {
    background-color: green !important;
    /* background-color: linear-gradient(green, red, yellow) !important; */
}

/* NAVBAR LOGO */
#homeImagesRow {
    width: 80%;
    margin: 0 auto;
    align-content: center;
}

.homeImagesCol {
    width: 33.3%;
    display: inline-block;
}

.homeImage {
    width: 100%;
    height: auto;
}


/* SHOPPING CART */
#navbarHomeCart .rs-icon {
    font-size: 1.5vw !important;
}

#navbarHomeCart .rs-icon:hover {
    background-color: transparent !important;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
  }

#cartCount {
    font-size: 1vw;
    background: lightblue !important;
    color: black;
    /* padding: 0 0.5vw 0 0.5vw; */
    vertical-align: top;
  }

#cartCount :hover {
    font-size: 1vw;
    background: lightblue !important;
    color: black;
    /* padding: 0 0.5vw 0 0.5vw; */
    vertical-align: top;
  }


/* LAPTOPS */
@media screen 
    and (min-device-width: 700px) 
    and (max-device-width: 800px)  { 
        #navbarHomeLogo {
            width: 23vw;
        }
        .navbarHomeItems a {
            font-size: 1.5vw !important;
            padding: 8px 6px !important;
        }
  }
@media screen 
    and (min-device-width: 800px) 
    and (max-device-width: 1100px)  { 
        #navbarHomeLogo {
            width: 25vw;
        }
  }
