#navbarHome {
    background-color: transparent;
    width: 100% !important;
    margin: 0 auto;
    padding: 7vw;
    display: inline-block;
}

#navbarHomeLogo {
    float: left;
    width: 30vw;
}

#navbarHomeBody {
    width: 100% !important;
    margin: 0 auto;
    display: inline-block !important;
}

#navbarHomeTabs {
    background-color: transparent;
    color: #929292;
    font-family: 'Georgia-Italic','Georgia';
    height: 2vw;
    line-height: 2vw;
    font-style: italic;
    margin: 0;
    margin-top: 1vw;
    padding: 0;
    padding-left: 2vw;
    text-align: left;
    font-size: 12vw;
    float: right;
}

.navbarHomeItems a {
    font-size: 1.5vw !important;
}

.navbarHomeItems .rs-nav-item-content :hover {
    background-color: green !important;
    /* background-color: linear-gradient(green, red, yellow) !important; */
}

#homeImagesRow {
    width: 80%;
    margin: 0 auto;
    align-content: center;
}

.homeImagesCol {
    width: 33.3%;
    display: inline-block;
}

.homeImage {
    width: 100%;
    height: auto;
}

#navbarHomeCart .rs-icon {
    font-size: 1.5vw !important;
}

#navbarHomeCart .rs-icon:hover {
    background-color: transparent !important;
}