#adminPageTitle {
    text-align: center;
    font-size: 3vw;
    margin-bottom: 2vw;
}

#adminAddPage {
    width: 40vw;
    margin: 0 auto;
    margin-bottom: 10vw;
}

#adminAddForm {
    text-align: center;
}

#adminAddFormHeading {
    font-size: 2vw;
    margin-bottom: 2vw;
}


.adminAddFormGroup {
    margin-bottom: 1vw;   
}

.adminAddFormLabel {
    margin-right: 2vw;
}

#logoutPage {
    text-align: center;
    margin-top: 10vw;
}