.inventoryTitleRow {
    width: 100%;
    display: inline-block !important;
}

.inventoryTitle {
    font-size: 5vw;
    float: left;
    width: 30%;
    margin-left: 15vw;
    font-family: 'Didot';
}

#adminInventorySearchBarForm {
    float: right;
    width: 30%;
    margin-right: 10vw;
    margin-top: 1vw;
}

#adminInventorySearchBarFormGroup .rs-form-control-wrapper {
    max-width: 70% !important;
}

.searchIcon {
    float: right;
    margin-top: .5vw;
    margin-right: 1vw;
}

.addProductPanel .rs-panel-body {
    width: 95%;
    height: 25vw;
    margin: 0 auto;
    margin-top: 5vw;
    text-align: center;
}

#addProductImage {
    font-size: 10vw;
}

#addProductImage .rs-icon {
    text-align: center !important;
}



/* .productsImagePanel .rs-panel-body {
    
} */